vim/bundle/
vim/.netrwhist

*.swp

.DS_Store

config/git/ignore
config/autostart/
config/dconf/
config/ibus/
config/user-dirs.dirs
config/user-dirs.locale
config/xfce4/

emacs.d/auto-save-list


emacs.d/ac-dict

config/mpv/watch_later
