snippet leetcode "leetcode_template" b
/*
 * $1
 *
 */

import java.util.*;
import static java.lang.System.*;

public class Solution {
	public $2($3)
	{
		$4
	}

public static void main(String args[])
{
	$5 

} 

}
endsnippet
