snippet leetcode "leetcode_template" b
/*
 * `!p snip.rv=fn` 
 *
 * $1
 *
 */

import java.util.*;
import static java.lang.System.*;

public class `!p snip.rv=snip.basename` {
	public $2($3)
	{
		$4
	}

public static void main(String args[])
{
	$5 

} 

}
endsnippet
